<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <title>katex-output Demo</title>
        <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
        <link rel="import" href="../katex-output.html">
    </head>
    <body>
        <p>LaTeX: <code>f(x) = \int_{-\infty}^\infty\hat f(\xi)\,e^{2 \pi i \xi x}\,d\xi</code></p>
        <katex-output id="output" fancy latex="f(x) = \int_{-\infty}^\infty\hat f(\xi)\,e^{2 \pi i \xi x}\,d\xi">
        </katex-output>
    </body>
</html>
